In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [30]:
df = pd.read_csv("./서울특별시 일반음식점 인허가 정보.csv", encoding='cp949')
print('공공데이터 크기:',df.shape)
df.head()

공공데이터 크기: (474939, 44)

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3000000,3000000-101-2001-11784,20010214,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,N,34.56,NaN,NaN,NaN
1,3000000,3000000-101-2001-11802,20010214,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,N,130.00,NaN,NaN,NaN
2,3200000,3200000-101-2020-00255,20200602,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3160000,3160000-101-2020-00141,20200602,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3220000,3220000-101-2020-00571,20200602,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# 사용할 컬럼만 남기고 나머지 제거
df = df[['상세영업상태코드','도로명주소','사업장명','좌표정보(X)','좌표정보(Y)']]
df = df.reset_index(drop=True)
print('공공데이터 크기:',df.shape)
df.head()

공공데이터 크기: (474939, 5)

,상세영업상태코드,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,1,NaN,일식동경,NaN,NaN
1,1,서울특별시 종로구 삼일대로 382 (관철동),상해,198867.702591,451824.281126
2,1,서울특별시 관악구 신림로59길 15-13 4층 (신림동),미쿠,193687.348199,442284.164025
3,1,서울특별시 구로구 구로동로22길 21 1층 (구로동),여름엔빙수겨울엔떡국,189814.305919,443046.239859
4,1,서울특별시 강남구 삼성로85길 33 1층 102-2호 (대치동),카페디퍼,204776.548264,444677.642985

In [32]:
# 결측치 제거
df = df.dropna()
df = df.reset_index(drop=True)
print('공공데이터 크기:',df.shape)
df.head()

공공데이터 크기: (222827, 5)

,상세영업상태코드,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,1,서울특별시 종로구 삼일대로 382 (관철동),상해,198867.702591,451824.281126
1,1,서울특별시 관악구 신림로59길 15-13 4층 (신림동),미쿠,193687.348199,442284.164025
2,1,서울특별시 구로구 구로동로22길 21 1층 (구로동),여름엔빙수겨울엔떡국,189814.305919,443046.239859
3,1,서울특별시 강남구 삼성로85길 33 1층 102-2호 (대치동),카페디퍼,204776.548264,444677.642985
4,1,서울특별시 동대문구 난계로30길 28-7 1층 (신설동),메이크데이(MakeDay),202114.228397,452392.093759

In [33]:
# '상세영업상태코드' 1: 영업중 2: 폐업 -> 영업중인 음식점만 남기고 '상세영업상태코드' 컬럼 제거
df = df[df["상세영업상태코드"] == 1]
df = df[['도로명주소','사업장명','좌표정보(X)','좌표정보(Y)']]
df = df.reset_index(drop=True)
print('공공데이터 크기:',df.shape)
df.head()

공공데이터 크기: (121773, 4)

,도로명주소,사업장명,좌표정보(X),좌표정보(Y)
0,서울특별시 종로구 삼일대로 382 (관철동),상해,198867.702591,451824.281126
1,서울특별시 관악구 신림로59길 15-13 4층 (신림동),미쿠,193687.348199,442284.164025
2,서울특별시 구로구 구로동로22길 21 1층 (구로동),여름엔빙수겨울엔떡국,189814.305919,443046.239859
3,서울특별시 강남구 삼성로85길 33 1층 102-2호 (대치동),카페디퍼,204776.548264,444677.642985
4,서울특별시 동대문구 난계로30길 28-7 1층 (신설동),메이크데이(MakeDay),202114.228397,452392.093759

In [34]:
# 도로명 주소에서 자치구를 분리한 후, 동작구만 추출
df['자치구'] = [i.split()[1] for i in df['도로명주소']]
df = df[df['자치구'] == '동작구']
df = df.reset_index(drop=True)
print('공공데이터 크기:',df.shape)
df.head()

공공데이터 크기: (3168, 5)

,도로명주소,사업장명,좌표정보(X),좌표정보(Y),자치구
0,서울특별시 동작구 사당로17길 3 1층 (사당동),역전우동0410 & 빽다방 동작남성점,197657.200839,442368.302789,동작구
1,서울특별시 동작구 동작대로7길 4 1층 (사당동),한강치킨(수제전문점),198276.099219,441987.393695,동작구
2,서울특별시 동작구 남부순환로271길 24 (사당동),조가네갑오징어 사당점,198179.267303,441754.008944,동작구
3,서울특별시 동작구 상도로37길 7 (상도1동),태능솔밭갈비,195405.538042,444523.550310,동작구
4,서울특별시 동작구 동작대로7길 83 1층 (사당동),면장의 밥상,197999.829570,441709.980023,동작구

In [35]:
# 도로명 주소에서 자치동을 분리한 후, 결측치 제거
import re
dong_list = []
for address in df['도로명주소']:
    try:
        dong = re.findall('사당동|신대방동|흑석동|상도동|상도1동|대방동|노량진동',address)[0]
        if dong == '상도1동':
            dong = '상도동'
        dong_list.append(dong)
    except:
        dong_list.append('error')
df['자치동'] = dong_list
df = df[df['자치동'] != 'error']
df = df[['좌표정보(X)','좌표정보(Y)','자치구','자치동','사업장명']]
df = df.reset_index(drop=True)
print('공공데이터 크기:',df.shape)
df.head()

공공데이터 크기: (3140, 5)

         좌표정보(X)        좌표정보(Y)  자치구  자치동                   사업장명
0  197657.200839  442368.302789  동작구  사당동  역전우동0410 &  빽다방 동작남성점
1  198276.099219  441987.393695  동작구  사당동            한강치킨(수제전문점)
2  198179.267303  441754.008944  동작구  사당동            조가네갑오징어 사당점
3  195405.538042  444523.550310  동작구  상도동                 태능솔밭갈비
4  197999.829570  441709.980023  동작구  사당동                 면장의 밥상

In [36]:
# XY좌표계를 경도,위도 좌표계로 변경
import pyproj
xy = np.array([[df['좌표정보(X)'][i], df['좌표정보(Y)'][i]] for i in range(df.shape[0])])
def project_array(coord, p1_type, p2_type):
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])
    return np.dstack([fx, fy])[0]
p1_type = "epsg:2097"
p2_type = "epsg:4326"
result = project_array(xy, p1_type, p2_type)
df['경도'] = result[:, 0]
df['위도'] = result[:, 1]
df = df[['자치구','자치동','사업장명','경도','위도']]
print('공공데이터 크기:',df.shape)
df

공공데이터 크기: (3140, 5)

      자치구   자치동                   사업장명          경도         위도
0     동작구   사당동  역전우동0410 &  빽다방 동작남성점  126.971410  37.483504
1     동작구   사당동            한강치킨(수제전문점)  126.978409  37.480073
2     동작구   사당동            조가네갑오징어 사당점  126.977314  37.477970
3     동작구   상도동                 태능솔밭갈비  126.945938  37.502914
4     동작구   사당동                 면장의 밥상  126.975286  37.477573
...   ...   ...                    ...         ...        ...
3135  동작구   대방동                   웰컴댕댕  126.929445  37.509096
3136  동작구   사당동                 秀(수)포차  126.978007  37.480737
3137  동작구   사당동       프레퍼스 다이어트 푸드 사당점  126.978444  37.480348
3138  동작구  신대방동                케이(K)호프  126.920478  37.491435
3139  동작구  신대방동              우동짜장&야식포차  126.904450  37.488106

[3140 rows x 5 columns]

In [37]:
import requests
import bs4
from bs4 import BeautifulSoup
id_list = []
for i in range(df.shape[0]):
    keyword = df['자치구'][i]+' '+df['자치동'][i]+' '+df['사업장명'][i] 
    url = f'https://search.map.kakao.com/mapsearch/map.daum?callback=jQuery18105963491453995977_1649742498249&q={keyword}&msFlag=A&sort=0'
    header = {
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36',
        'referer': 'https://map.kakao.com/'
    }
    response = requests.get(url, headers=header)
    try:
        confirmid = re.findall('confirmid":"([0-9]+)"',response.text)[0]
        review_address = f'https://place.map.kakao.com/{confirmid}'
        id_list.append(review_address)
    except:
        id_list.append('error')
    print(f'\r{i+1}개 진행완료',end='')

In [38]:
df['리뷰주소'] = id_list
df = df[df['리뷰주소'] != 'error']
df = df.reset_index(drop=True)
print('공공데이터 크기:',df.shape)

공공데이터 크기: (2637, 6)

In [39]:
df

,자치구,자치동,사업장명,경도,위도,리뷰주소
0,동작구,사당동,역전우동0410 & 빽다방 동작남성점,126.971410,37.483504,https://place.map.kakao.com/25116156
1,동작구,사당동,한강치킨(수제전문점),126.978409,37.480073,https://place.map.kakao.com/11515257
2,동작구,상도동,태능솔밭갈비,126.945938,37.502914,https://place.map.kakao.com/11222981
3,동작구,사당동,면장의 밥상,126.975286,37.477573,https://place.map.kakao.com/1623686424
4,동작구,사당동,클로이스 칠하우스,126.964916,37.488247,https://place.map.kakao.com/505721130
...,...,...,...,...,...,...
2632,동작구,신대방동,마라홀릭 신대방,126.923730,37.498262,https://place.map.kakao.com/919062136
2633,동작구,상도동,모녀당,126.946396,37.503721,https://place.map.kakao.com/839496033
2634,동작구,상도동,양계장집아들 상도점,126.940679,37.498569,https://place.map.kakao.com/48395912
2635,동작구,대방동,웰컴댕댕,126.929445,37.509096,https://place.map.kakao.com/1591541759
2636,동작구,신대방동,우동짜장&야식포차,126.904450,37.488106,https://place.map.kakao.com/20604687